---
// Astro Page Config
// export const prerender = true

// Imports
import { storyblokEditable, renderRichText } from '@storyblok/astro'
import { fetchImageFromText } from '../lib/utils'
import { Image } from 'astro:assets';
import PokemonComp from '../components/PokemonComponent'


// Server-Side Logic
const { blok } = Astro.props
const renderedRichText = renderRichText(blok.content)
const resp = await fetch(`https://pokeapi.co/api/v2/pokemon/${Math.floor(Math.random() * (500 - 1 + 1) + 1)}`);
const data = await resp.json();
let image = blok.image.filename == '' && blok.image.filename != null ? await fetchImageFromText("Create an hero image for an article that is about"+blok.title) : blok.image.filename
console.log(blok)
---

<article {...storyblokEditable(blok)}>
  <div class="flex w-full">
    <img
      class="w-full h-[360px] lg:h-[450px] object-cover"
      alt={''}
      src={`${image}`}
    />
  </div>
  <div class="container mx-auto mb-12">
    <h1 class="text-6xl text-[#50b0ae] font-bold mt-12 mb-4">
      {blok.title}
    </h1>
    <h2 class="text-2xl text-[#1d243d] font-bold mb-4">
      {blok.subtitle}
    </h2>
    <div class="prose" set:html={renderedRichText} />
  </div>
</article>
<div class="bg-red">
  <PokemonComp client:load />
</div>
<div>
  <Image src={data.sprites['front_default']} width={200} height={200} alt={data.id} />
  <span>{data.name}</span>
 </div>
 <br>